<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>rbailly</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://dev.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->
	<!-- Required Modules -->
	<require_modules>
		<require_module version="${htmlformentryModuleVersion}">org.openmrs.module.htmlformentry</require_module>
		<require_module version="${reportingModuleVersion}">org.openmrs.module.reporting</require_module>
		<require_module version="1.6.1">org.openmrs.module.htmlwidgets</require_module>
	</require_modules>
	<!-- / Required Modules -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.BOMActivator</activator>
	
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	
	<extension>
		<point>org.openmrs.module.web.extension.FormEntryHandler</point>
		<class>org.openmrs.module.bom.extension.html.BomFormEntryHandlerExtension</class>
	</extension>
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
				
		BOM.hbm.xml
				
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<globalProperty>
		<property>bom.prices</property>
		<defaultValue>Primus:8080|Mutzing:1000|Fanta:350</defaultValue>
		<description>
			The prices all items. The format is to use the product name followed by a semi column and the price of the product. (eg: primus:800)
		</description>
	</globalProperty>

</module>

