* { padding: 0; margin: 0; }

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}
#wrapper { 
 margin: 0 auto;
 width: 1322px;
}
#header {
width: 1300px;
 color: #333;
 padding: 10px;
 border: 1px solid #ccc;
 height: 100px;
 margin: 10px 0px 5px 0px;
 background: #0BA55E;
}
#navigation {
 width: 1300px;
 color: #333;
 padding: 10px;
 border: 1px solid #ccc;
 margin: 0px 0px 5px 0px;
 background-color:#A8CD1B;
}
#content { 
 width: 1300px;
 color: #333;
 border: 1px solid #ccc;
 background:#ECECEA;
 margin: 0px 0px 5px 0px;
 padding: 10px;
 height: 500px;
}
#footer { 
 width: 1300px;
 color: #333;
 border: 1px solid #ccc;
 background-color:#CBE32D;
 margin: 0px 0px 10px 0px;
 padding: 10px;
}

#navigationPosition ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
#navigationPosition li
{
float:left;
padding-right: 20px;
}
a
{
display:block;
text-decoration: none;
}

a:link {
 color: black;
 font-weight:bold;
}
a:visited {
 color: black;
}
a:hover {
 color: white;
 text-decoration: none;
}
a:active {
 color: #777777;
}
#navigationPosition{
width:700px;
margin: 0px auto 0px auto;
}
table.patientEncounters { 
	width: 100%;
	margin-right: 20px;
	border:none;
}